@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

body {
  background-color: #5c94fc;
}

.container {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.title {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 25%;
  width: 100%;
}

h1 {
  font-size: 100px;
  opacity: 0;
}

h2 {
  font-size: 50px;
  opacity: 0;
}

img {
  margin: 8px;
  max-width: 600px;
  width: 100%;
  z-index: 1;
}

.qblock {
  position: relative;
  transition: all 200ms;
  width: 60px;
  z-index: 2;
}

.qblock:hover {
  cursor: pointer;
  width: 65px;
}

.qblock:active {
  bottom: 8px;
}

.click {
  bottom: 5px;
  margin: 0;
  position: relative;
  right: 50px;
  width: 40px;
}

.coin {
  bottom: 60px;
  position: absolute;
  margin: 0;
  width: 40px;
}

.sliding-background {
  animation: slide 60s linear infinite;
  background: url("../images/marioLvl1.gif") repeat-x;
  bottom: 0;
  height: 224px;
  position: absolute;
  width: 5076px;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}
