body {
  background-color: #5c94fc;
  color: #222222;
}

h1,h2,h3,h4,h5,h6 {
  color: #222222;
}

.btn {
  background-color: #a3a3a3;
  margin: 20px 10px 10px 10px;
}

#box {
  width: 100%;
  height: 100%;
  position: relative;
}

#abouttab {
  margin: 0;
}
