body {
  background-color: #5c94fc;
  color: #222222;
  height: 100vh;
  width: 100vw;
}

h1,h2,h3,h4,h5,h6 {
  color: #222222;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #a3a3a3;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #333;
  font-size: 18px;
  line-height: 1.3333333;
  margin: 20px 10px;
  padding: 10px 16px;
}

.btn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

#box {
  width: 100%;
  height: 100%;
  position: relative;
}

#abouttab {
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -100px;
}

.pipes {
  display: flex;
  justify-content: center;
}
.pipes > img {
  transform: rotate(180deg);
  height: 200px;
  margin: 5px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu > a {
  margin: 8px;
}

.menu>a:nth-child(1) {
  color: green;
}

.menu>a:nth-child(2) {
  color: #ea3738;
}

.menu>a:nth-child(3) {
  color: #0033ff;
}

.menu>a:nth-child(4) {
  color: #fedc00;
}

.greenpipe {
}

.redpipe {
}

.yellowpipe {
}

.bluepipe {
}