body {
  background-color: #5c94fc;
  color: #222222;
  height: 100vh;
  width: 100vw;
}

h1,h2,h3,h4,h5,h6 {
  color: #222222;
}

.btn {
  background-color: #a3a3a3;
  margin: 20px 10px 10px 10px;
}

#box {
  width: 100%;
  height: 100%;
  position: relative;
}

#abouttab {
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -100px;
}

.pipes {
  display: flex;
  justify-content: center;
}
.pipes > img {
  transform: rotate(180deg);
  height: 200px;
  margin: 5px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu > a {
  margin: 8px;
}

.greenpipe {
}

.redpipe {
}

.yellowpipe {
}

.bluepipe {
}