.container {
    height: 100%;
    width: 100%;
}

h1 {
    max-width: 75%;
}

.title {
    align-items: center;
    box-sizing: border-box;
    color: red;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 100%;
}

.title:nth-child(2n+1) {
    color: blue;
}

.star {
    position: relative;
    top: -1px;
    width: 18px;
}