
.container {
    height: 100%;
    width: 100%;
}

.title {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 100%;
}

img {
    position: absolute;
}

.greenpipe {
    width: 40px;
    bottom: 0px;
    transform: translateX(48vw);
}

.redpipe {
    width: 40px;
    top: 20px;
    transform: translateX(48vw) rotate(180deg);
}

.yellowpipe {
    position: relative;
    float: right;
    transform: translateX(-65px) rotate(270deg);
    width: 40px;
}

.bluepipe {
    width: 40px;
    transform: translateX(65px) rotate(90deg);
}