<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <script src=""></script>
  <style type="text/css">
    .hide-bullets {
      list-style:none;
      margin-left: -40px;
      margin-top:20px;
    }
  </style>
</head>

<body>

  <% include ../../partials/nav.ejs %>

  <div class="container">
    <div id="main_area">
      <h1>FHE Wheel project... currently under construction</h1>
      <canvas id="coolcanvas"></canvas>
    </div>
  </div>


<script>
  $(() => {

    $("#projectstab").addClass("active");

  })
</script>

</body>
</html>
