<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <script src=""></script>
  <style type="text/css">
    .hide-bullets {
      list-style:none;
      margin-left: -40px;
      margin-top:20px;
    }
  </style>
</head>

<body>

  <% include ../../partials/nav.ejs %>

  <div class="container">
    <div id="main_area">

    </div>
  </div>


<script>
  $(() => {

    $("#gamestab").addClass("active");
    //createElement.canvas($(window).width());

  })
</script>

</body>
</html>
