<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src=""></script>
  <style type="text/css">
    .hide-bullets {
      list-style:none;
      margin-left: -40px;
      margin-top:20px;
    }
  </style>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div id="main_area">
      <h1>This site is intended for display of my projects and to just have fun.  No copyright infringement intended.  No party poopers allowed.</h1>
    </div>
  </div>


<script>
  $(() => {

    $("#abouttab").addClass("active");

  })
</script>

</body>
</html>
