<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="./scripts/moveTurtle.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <ul class="strand">
    <!-- <li> tags create the individual christmas lights. we're going to have 43 -->
    <% for (let i = 0; i < 43; i++) { %>
      <li></li>
    <% } %>
  </ul>

<div class="jumbotron text-center">
  <div id="box">
    <a href="/" class="lang-logo">
      <img src="/images/godoggo.gif">
    </a>
    <h1>Welcome to the dance floor!</h1>
    <p>Have fun! Get up and dance baby!</p>
    <a type="button" class="btn btn-lg btn-default" href="/goodturn"><span class="glyphicon glyphicon-flash"></span> Good Turn project</a>
    <br> <br> <br>
    <img id="turtle1" src="./images/cool-turtle.png"></img>
    <img id="turtle2" src="./images/cool-turtle.png"></img>
    <img id="turtle3" src="./images/cool-turtle.png"></img>
    <img id="turtle4" src="./images/cool-turtle.png"></img>
    <img id="turtle5" src="./images/cool-turtle.png"></img>
  </div>
</div>

<audio id="ravemusic" controls>
   <source src="/audio/Yeah Yeah Yeahs - Heads Will Roll (JVH-C Remix).mp3"
           type='audio/mp3'>
   <!-- The next line will only be executed if the browser doesn't support the <audio> tag-->
   <p>Your user agent does not support the HTML5 Audio element.</p>
  </audio>


<script>
  $(() => { 
    $("#dancetab").addClass("active");
    // divname must be in quotes
    // window width - 75 because it goes past the screen a bit
    moveTurtle($(window).width() - 75, 'turtle1', 2);
    moveTurtle($(window).width() - 75, 'turtle2', 5);
    moveTurtle($(window).width() - 75, 'turtle3', 10);
    moveTurtle($(window).width() - 75, 'turtle4', 20);
    moveTurtle($(window).width() - 75, 'turtle5', 50);
    var audio = document.getElementById("ravemusic"); 
    //audio.src = "song.mp4";
    audio.play();
  })
</script>

</body>
</html>
