<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/intro.css" />
    <script type="text/javascript">
      $(() => {
        // new Audio('./audio/Super Mario Bros. medley.mp3').play();
        let coinSound = new Audio('./audio/Mario-coin-sound.mp3');
        $( ".qblock" ).click(function() {
          coinSound.play();
          $( ".coin" ).animate({
            bottom: "+=85"
          }, 600, function() {
            // Animation complete.
            $( ".coin" ).animate({bottom: "-=85"}, 90);
            location.href = "/ryan";
          });
        });
      })
    </script>
  </head>
<body>

  <div class="container">
    <div class="title">
      <img src="/images/name.png" />
      <img src="/images/name2.png" />
      <img src="/images/coin.gif" class="coin" />
      <a >
        <img src="/images/qblock.gif" class="qblock" />
      </a>
      <img src="/images/click.png" class="click" />
      <!-- <img src="/images/greenpipe.png" class="greenpipe" /> -->
    </div>
    <div class="sliding-background"></div>
    <iframe src='./audio/Super Mario Bros. medley.mp3' allow="autoplay" id="audio" style="display:none"></iframe>
  </div>

</body>
</html>