<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/intro.css" />
    <script type="text/javascript">
      $(() => {
        $('h1').animate({'opacity':1}, 4000, () => {
          $('h2').animate({'opacity':1}, 4000, () => {
            $('.btn').animate({'opacity':1}, 3000);
          });
        });
      })
    </script>
  </head>
<body>

  <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="clouds"></div>

  <div class="main">
    <h1>Ryan Walker</h1>
    <h2>Full Stack Developer</h2>
    <a href="/ryan" class="btn btn-5">Enter</a>
  </div>

</body>
</html>