<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>cs313-node-ajax | jQuery AJAX Example</title>
        <meta charset="utf-8" />

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="/scripts/fetchMovies.js"></script>
    </head>

    <body>
        <h1>jQuery AJAX Example</h1>
        <h2>Type the name of a movie to get info about it from an api.</h2>

        <form id="exform" action="/data" method="GET">
            <input type="text" id="movie" name="movie" />
            <button>Retrieve data</button>
        </form>

        <div id="output"></div>
    </body>
</html>