<!DOCTYPE html>
<html>
<head>
  <% include ../partials/postalheader.ejs %>
  <script type="text/javascript">
    function calculateRate() {
      var weight = document.getElementById('weight').value;
      var type   = document.getElementById('type').value;
      var result = '';
      switch (type) {
        case "Letters (Stamped)":
          var weights = [1, 2, 3, 3.5];
          var rates   = [0.49, 0.70, 0.91, 1.12];
          result = rate(weight, weights, rates);
          break;
        case "Letters (Metered)":
          var weights = [1, 2, 3, 3.5];
          var rates   = [0.46, 0.67, 0.88, 1.09];
          result = rate(weight, weights, rates);
          break;
        case "Large Envelopes (Flats)":
          var weights = [1,2,3,4,5,6,7,8,9,10,11,12,13];
          var rates   = [0.98,1.19,1.40,1.61,1.82,2.03,2.24,2.45,2.66,2.87,3.08,3.29,3.50];
          result = rate(weight, weights, rates);
          break;
        case "Parcels":
          var weights = [1, 2, 3, 3.5];
          var rates   = [3.00,3.00,3.00,3.00,3.16,3.32,3.48,3.64,3.80,3.96,4.19,4.36,4.53];
          result = rate(weight, weights, rates);
          break;
        default:
          break;
      }
      document.getElementById('answer').value = result;
    }

    function rate(weight, weights, rates) {
      for(var i = 0; i < weights.length; i++) {
        console.log("Key: " + weights[i] + " Weight: " + weight);
        if(weight < weights[i]) {
          return '$' + rates[i];
        }
      }
      return '$' + rates[rates.length-1];
    }
  </script>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="center_div">
      <form class="postalForm" action="/postalprice" method="post">
        <h2 style="color: white">Postal Calculator</h2>
        <div class="center_div">
          <table class="table">
            <thead>
              <tr>
                <th>Please fill out the fields:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label for="weight">Weight(oz):</label>
                  <input type="number" class="form-control" id="weight" name="weight" onchange="calculateRate()" max="70" required>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group">
                    <label for="type">Type of Mail:</label>
                    <select class="form-control" id="type" name="type" onchange="calculateRate()" required>
                      <option>Letters (Stamped)</option>
                      <option>Letters (Metered)</option>
                      <option>Large Envelopes (Flats)</option>
                      <option>Parcels</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="answer">Cost:</label>
                  <input type="text" class="form-control" id="answer" name="answer" >
                </td>
              </tr>
              <tr>
                <td>
                  <input class="btn btn-default" type="submit" value="Submit!">
                  <input class="btn btn-default" type="reset">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>


</body>
</html>
