<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ryan.css" />
  <script>
    $(() => {
      var message = "Hi, my name is Ryan and I'm the developer of this site.";
      var colors = new Array("#ea3738","green","#0033ff","#fedc00");
      var colorHtml = '';
      for (var i = 0; i < message.length; i++)
        colorHtml += "<span style=\"color:" + colors[(i % colors.length)] + ";\">" + message[i] + "</span>";
      document.getElementById('colorfulGoodness').innerHTML = colorHtml;
    })
  </script>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="title">
      <h1 id="colorfulGoodness"></h1>
      <h1>Feel free to look around!</h1>
      <a type="button" class="btn btn-lg btn-default" href="https://github.com/RyanPWalker"><img src="/images/star.png" class="star" /><span> Github</span></a>
    </div>
  </div>


<script>
  $(() => {

    $("#ryantab").addClass("active");

  })
</script>

</body>
</html>
