<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ryan.css" />
  <script src=""></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="title">
      <h1>Hi, my name is Ryan and I'm the developer of this site.</h1>
      <h1>Feel free to look around!</h1>
      <a type="button" class="btn btn-lg btn-default" href="https://github.com/RyanPWalker"><span class="glyphicon glyphicon-star"></span> Github</a>
    </div>
  </div>
  <img src="/images/greenpipe.png" class="greenpipe" />
  <img src="/images/redpipe.png" class="redpipe" />
  <img src="/images/bluepipe.png" class="bluepipe" />
  <img src="/images/yellowpipe.png" class="yellowpipe" />


<script>
  $(() => {

    $("#ryantab").addClass("active");

  })
</script>

</body>
</html>
