<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src=""></script>
  <style type="text/css">
    body {
      color: #a3a3a3;
    }

    .btn {
      background-color: #a3a3a3;
    }
  </style>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div id="main_area">
      <h1>Hi, my name is Ryan and I'm the developer of this site.</h1>
      <h1>Feel free to look around!</h1>
      <a type="button" class="btn btn-lg btn-default" href="https://github.com/RyanPWalker"><span class="glyphicon glyphicon-star"></span> Github</a>
      <a type="button" class="btn btn-lg btn-default" href="/goodturn"><span class="glyphicon glyphicon-flash"></span> Good Turn project</a>
    </div>
  </div>


<script>
  $(() => {

    $("#ryantab").addClass("active");

  })
</script>

</body>
</html>
