<!DOCTYPE HTML>
<html>
<head>
	<% include ../partials/goodturnheader.ejs %>
	<script src="../../scripts/gps.js"></script> 
	<script src="../../scripts/login.js"></script>
</head>
<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">

			<!-- One -->
			<section id="one">
				<img src="../../../images/logo.png" style="display: block; margin: 0 auto; height: 150px; width: 500px">
				<div class="container">
					<header class="major">
						<h2>Sign In</h2>
						<p>Please allow your browser to access your location.</p>
						<p>Otherwise, this application will not work.</p>
						<div class="row uniform">
							<div class="12u"><input type="email" name="email" id="email" placeholder="Email" autofocus /></div>
							<div class="12u"><input type="text" name="password" id="password" placeholder="Password" /></div>
							<div>
								<input type="hidden" name="latitude" id="latitude" />
								<input type="hidden" name="longitude" id="longitude" />
							</div>
						</div>
						<div class="row uniform">
							<div class="12u">
								<ul class="actions">
									<li><input type="button" class="special" onclick="login();" value="Log in!" />
									<li><input type="button" onclick="location.href='/createprofile'" value="Create Account" /></li>
								</ul>
								<div id="status"></div>
							</div>
						</div>
					</div>
				</section>
			</div>

			<!-- Footer -->
			<section id="footer">
				<div class="container">
					<ul class="copyright">
						<li>&copy; Pear-Up. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</section>

		</div>

		<!-- Scripts -->
		<script src="../../assets/js/jquery.min.js"></script>
		<script src="../../assets/js/jquery.scrollzer.min.js"></script>
		<script src="../../assets/js/jquery.scrolly.min.js"></script>
		<script src="../../assets/js/skel.min.js"></script>
		<script src="../../assets/js/util.js"></script>
		<script src="../../assets/js/main.js"></script>
		<script>
			$(() => {
				getLocation();
			});
		</script>

	</body>
	</html>